body {
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    height: 15vh;
    background: url("fondo_principal.png");
    background-size: cover;
    border-bottom: 2px solid black;
}

header .logo {
    height: 15vh;
    width: 30%;
    box-sizing: border-box;
    float: left;
    background-size: cover;
}

header .logo img {
    max-width: 10vw;
    padding: 2%;
    display: inline;
}

header .logo div {
    padding: 0;
    margin: 2% 0 0 0;
    vertical-align: top;
    display: inline;
}

header .logo p {
    display: inline-block;
}

header .nombre {
    height: 15vh;
    width: 70%;
    float: left;
    box-sizing: border-box;
}

header .nombre h1 {
    padding: 0;
    margin-top: 6%;
    vertical-align: top;
    display: inline-block;
    font-size: 2.6vw;
    font-family: Impact, Charcoal, sans-serif;
    text-transform: uppercase;
}

section {
    height: 80vh;
}

section .left {
    height: 80vh;
    width: 45vw;
    float: left;
    box-sizing: border-box;
    font-size: 1.8vw;
    background: url("fondo_principal.png");
}

section .right {
    height: 80vh;
    width: 55vw;
    float: left;
    box-sizing: border-box;
}

footer {
    height: 5vh;
    border: 1px solid black;
    box-sizing: border-box;
    background: url("fondo_principal.png");
    background-size: cover;
    font-weight: bold;
}

footer pre {
    padding-left: 3%;
    font-size: 1.2vw;
}

.floatedTableL {
    float: left;
}

.floatedTableR {
    float: right;
}

.botonesEstilo {
    float: left;
    position: relative;
    padding: 2%;
}

.botonesEstilo ul {
    list-style-type: none;
    padding: 0;
}

.botonesEstilo ul li {
    color: black;
    display: inline;
    padding: 1% 1% 0 1%;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
    border-bottom: 2px solid black;
}


 