/* Style the tab */

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the tab */

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.tabPaneMenu button {
    background-color: inherit;
    float: left cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}


/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}

div.tabPaneMenu button:hover {
    background-color: #FFA07A;
}


/* Create an active/current tablink class */

div.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Style the tab panel */

.tab-pane {
    overflow-y: scroll;
}

.tabPaneComandas .tab {
    columns: 2;
}


/* Menu Table style */

.menuStyle table {
    border-collapse: collapse;
    width: 100%;
}

.menuStyle td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.menuStyle tr:first-child {
    background-color: #2ECC40;
}

.menuStyle tr:not(first-child) {
    background-color: #FAFAD2;
}

.menuStyle td:nth-last-child(1), .menuStyle td:nth-last-child(2), .menuStyle td:nth-last-child(3) {
    background-color: #FFFFFF;
    border: none;
}


/* Comfort Table style */

.comfortStyle table {
    border-collapse: collapse;
    width: 100%;
}

.comfortStyle td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.comfortStyle tr:first-child {
    background-color: #0000CD;
}

.comfortStyle tr:not(first-child) {
    background-color: #E6E6FA;
}
