body {
	margin: 0;
}

header {
	height: 10vh;
	background: url("fondo_principal.png");
	background-size: cover;
  border-bottom: 2px solid black;
}

header .logo {
	width: 30%;
	box-sizing: border-box;
	float: left;
	background-size: cover;
}


header .logo  img{
	max-width: 25%;
	padding: 2%;
	display: inline;
}

header .logo  div{
	padding: 0;
	margin: 2% 0 0 0;
	vertical-align: top;
	display: inline;
}

header .logo  h1{
	padding: 0;
	margin-top: 8%;
	vertical-align: top;
	display: inline-block;
	font-family: Impact, Charcoal, sans-serif	;
	text-transform: uppercase;
}

header .logo  p{
	display: inline-block;
}

header .menu {
	width: 70%;
	float: left;
	font-family: Impact, Charcoal, sans-serif	;
	box-sizing: border-box;
}

header .menu p{
	padding: 0;
	margin-top: 3%;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 4vh;
    border-bottom: 2px solid black;
}

section {
	height: 86vh;
  /*background: url("fondo_tabla.png");*/
  background-size: cover;
}

/* Style the buttons inside the tab */

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: Impact, Charcoal,inherit;
    font-weight: bold;;
}

div.tabPaneMenu button {
    background-color: inherit;
    float: left cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

}


/* Change background color of buttons on hover */

div.tab button:hover {
    background-color: #ddd;
}

div.tabPaneMenu button:hover {
    background-color: #FFA07A;
}


/* Create an active/current tablink class */

div.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


/* Style the tab panel */

.tab-pane {
    overflow-y: scroll;
}

.tabPaneComandas .tab {
    columns: 2;
}


/* Menu Table style */

.menuStyle table {
    border-collapse: collapse;
    width: 100%;
}

.menuStyle td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.menuStyle tr:first-child {
    background-color: #2ECC40;
}

.menuStyle tr:not(first-child) {
    background-color: #FAFAD2;
}

.menuStyle td:nth-last-child(1), .menuStyle td:nth-last-child(2), .menuStyle td:nth-last-child(3) {
    background-color: #FFFFFF;
    border: none;
}


/* Comfort Table style */

.comfortStyle table {
    border-collapse: collapse;
    width: 100%;
}

.comfortStyle td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.comfortStyle tr:first-child {
    background-color: #0000CD;
}

.comfortStyle tr:not(first-child) {
    background-color: #E6E6FA;
}

footer {
	height: 5vh;
	border: 1px solid black;
	box-sizing: border-box;
	background: url("fondo_principal.png");
	background-size: cover;
	font-weight: bold;
}

footer pre{
	padding-left: 3%;
}
